
*.png
dcgan-celeba/__pycache__/imshow.cpython-37.pyc
dcgan-celeba/__pycache__/network.cpython-37.pyc
dcgan-celeba/FashionMNIST/processed/test.pt
dcgan-celeba/FashionMNIST/processed/training.pt
dcgan-celeba/FashionMNIST/raw/t10k-images-idx3-ubyte
dcgan-celeba/FashionMNIST/raw/t10k-labels-idx1-ubyte
dcgan-celeba/FashionMNIST/raw/train-images-idx3-ubyte
dcgan-celeba/FashionMNIST/raw/train-labels-idx1-ubyte
dcgan-celeba/MNIST/processed/test.pt
dcgan-celeba/MNIST/processed/training.pt
dcgan-celeba/MNIST/raw/t10k-images-idx3-ubyte
dcgan-celeba/MNIST/raw/t10k-labels-idx1-ubyte
dcgan-celeba/MNIST/raw/train-images-idx3-ubyte
dcgan-celeba/MNIST/raw/train-labels-idx1-ubyte
dcgan-celeba/runs/nw=dcgan_ds=mnist_ld=10_op=adam_ep=2_bs=4_tp=1.0/events.out.tfevents.1569219004.DESKTOP-F1EHI3N.4140.0
dcgan-celeba/runs/nw=gan_ds=celeba_ld=10_op=adam_ep=15_bs=4_tp=1.0/events.out.tfevents.1569214587.DESKTOP-F1EHI3N.8488.0
dcgan-celeba/runs/nw=gan_ds=fashion-mnist_ld=10_op=adam_ep=2_bs=4_tp=1.0/events.out.tfevents.1569215147.DESKTOP-F1EHI3N.5944.0
dcgan-celeba/runs/nw=gan_ds=mnist_ld=10_op=adam_ep=15_bs=4_tp=1.0/events.out.tfevents.1569213789.DESKTOP-F1EHI3N.5308.0
*.0
