
*.sublime-workspace
dcgan-celeba/__pycache__/imshow.cpython-37.pyc
dcgan-celeba/__pycache__/network.cpython-37.pyc
dcgan-celeba/FashionMNIST/processed/test.pt
dcgan-celeba/FashionMNIST/processed/training.pt
dcgan-celeba/FashionMNIST/raw/t10k-images-idx3-ubyte
dcgan-celeba/FashionMNIST/raw/t10k-labels-idx1-ubyte
dcgan-celeba/FashionMNIST/raw/train-images-idx3-ubyte
dcgan-celeba/FashionMNIST/raw/train-labels-idx1-ubyte
dcgan-celeba/MNIST/processed/test.pt
dcgan-celeba/MNIST/processed/training.pt
dcgan-celeba/MNIST/raw/t10k-images-idx3-ubyte
dcgan-celeba/MNIST/raw/t10k-labels-idx1-ubyte
dcgan-celeba/MNIST/raw/train-images-idx3-ubyte
dcgan-celeba/MNIST/raw/train-labels-idx1-ubyte
dcgan-celeba/dcgan-celeba.sublime-workspace
dcgan-celeba/dcgan-celeba.sublime-workspace
dcgan-celeba/dcgan-celeba.sublime-workspace
lstm-irosva/IroSvA2019/train/readme.mx.txt
lstm-irosva/IroSvA2019/train/readme.es.txt
lstm-irosva/IroSvA2019/train/readme.cu.txt
lstm-irosva/IroSvA2019/train/irosva.mx.training.csv
lstm-irosva/IroSvA2019/train/irosva.es.training.csv
lstm-irosva/IroSvA2019/train/irosva.cu.training.csv
lstm-irosva/IroSvA2019/test_truth/irosva.mx.test.truth.csv
lstm-irosva/IroSvA2019/test_truth/irosva.es.test.truth.csv
lstm-irosva/IroSvA2019/test_truth/irosva.cu.test.truth.csv
lstm-irosva/IroSvA2019/test/readme.mx.txt
lstm-irosva/IroSvA2019/test/readme.es.txt
lstm-irosva/IroSvA2019/test/readme.cu.txt
lstm-irosva/IroSvA2019/test/irosva.mx.test.csv
lstm-irosva/IroSvA2019/test/irosva.es.test.csv
lstm-irosva/IroSvA2019/test/irosva.cu.test.csv
unet-tsukuba/checkpoint/best_nw=unet_ds=tsukuba_fl=64_op=sgd_ep=8_bs=32_tp=1.0_nm=f_10-05-2019-02-57-39.pt
unet-tsukuba/checkpoint/best_nw=unet_ds=tsukuba_fl=64_op=sgd_ep=8_bs=32_tp=1.0_nm=t_10-05-2019-02-39-01.pt
unet-tsukuba/checkpoint/last_nw=dunet_ds=tsukuba_fl=64_op=sgd_ep=8_bs=32_tp=1.0_nm=f_10-05-2019-03-34-27.pt
unet-tsukuba/checkpoint/last_nw=dunet_ds=tsukuba_fl=64_op=sgd_ep=8_bs=32_tp=1.0_nm=t_10-05-2019-03-15-58.pt
unet-tsukuba/checkpoint/last_nw=unet_ds=tsukuba_fl=64_op=sgd_ep=8_bs=32_tp=1.0_nm=f_10-05-2019-02-57-39.pt
unet-tsukuba/checkpoint/last_nw=unet_ds=tsukuba_fl=64_op=sgd_ep=8_bs=32_tp=1.0_nm=t_10-05-2019-02-39-01.pt
unet-tsukuba/checkpoint/best_nw=dunet_ds=tsukuba_fl=64_op=sgd_ep=8_bs=32_tp=1.0_nm=t_10-05-2019-03-15-58.pt
unet-tsukuba/checkpoint/best_nw=dunet_ds=tsukuba_fl=64_op=sgd_ep=8_bs=32_tp=1.0_nm=f_10-05-2019-03-34-27.pt
dcgan-celeba/checkpoint/best_nw=dcgan_ds=celeba_ld=100_fl=128_op=adam_ep=16_bs=128_tp=1.0_09-26-2019-00-06-10.pt
dcgan-celeba/checkpoint/last_nw=dcgan_ds=celeba_ld=100_fl=128_op=adam_ep=16_bs=128_tp=1.0_09-26-2019-00-06-10.pt
dcgan-celeba/checkpoint/last_nw=dcgan_ds=celeba_ld=100_fl=128_op=adam_ep=16_bs=128_tp=1.0_09-26-2019-03-04-02.pt
unet-tsukuba/tsukuba/*
lstm-wnut/checkpoint/last_nw=lstm_ds=wnut2017_op=adam_ep=100_bs=32_tp=0.8_10-27-2019-21-58-29.pt
lstm-wnut/checkpoint/last_nw=lstm_ds=wnut2017_op=adam_ep=100_bs=32_tp=0.8_10-27-2019-21-51-04.pt
lstm-wnut/checkpoint/last_nw=lstm_ds=wnut2017_op=adam_ep=100_bs=16_tp=0.8_10-27-2019-22-23-36.pt
lstm-wnut/checkpoint/last_nw=lstm_ds=wnut2017_op=adam_ep=100_bs=16_tp=0.8_10-27-2019-22-00-39.pt
lstm-wnut/checkpoint/best_nw=lstm_ds=wnut2017_op=adam_ep=100_bs=32_tp=0.8_10-27-2019-21-58-29.pt
lstm-wnut/checkpoint/best_nw=lstm_ds=wnut2017_op=adam_ep=100_bs=32_tp=0.8_10-27-2019-21-51-04.pt
lstm-wnut/checkpoint/best_nw=lstm_ds=wnut2017_op=adam_ep=100_bs=16_tp=0.8_10-27-2019-22-23-36.pt
lstm-wnut/checkpoint/best_nw=lstm_ds=wnut2017_op=adam_ep=100_bs=16_tp=0.8_10-27-2019-22-00-39.pt
lstm-wnut/.vector_cache/glove.840B.300d.txt.pt
lstm-wnut/.vector_cache/glove.840B.300d.txt
lstm-wnut/__pycache__/utils.cpython-37.pyc
lstm-wnut/__pycache__/network.cpython-37.pyc
lstm-wnut/.ipynb_checkpoints/reporte_LSTM-WNUT-checkpoint.ipynb
lstm-irosva/IroSvA2019/train/irosva.mx.train.csv
lstm-irosva/IroSvA2019/train/irosva.es.train.csv
lstm-irosva/IroSvA2019/train/irosva.cu.train.csv
lstm-irosva/IroSvA2019/train/irosva.comb.train.csv
lstm-irosva/IroSvA2019/test/irosva_mx_test.csv
lstm-irosva/IroSvA2019/test/irosva_es_test.csv
lstm-irosva/IroSvA2019/test/irosva_cu_test.csv
lstm-irosva/IroSvA2019/test/irosva.mx.test-w-truth.csv
lstm-irosva/IroSvA2019/test/irosva.es.test-w-truth.csv
lstm-irosva/IroSvA2019/test/irosva.cu.test-w-truth.csv
lstm-irosva/HAHA2019/haha_2019_train.csv
lstm-irosva/HAHA2019/haha_2019_test_gold.csv
lstm-irosva/HAHA2019/haha_2019_test.csv
lstm-wnut/.vector_cache/glove.840B.300d.zip
lstm-irosva/runs/nw=lstm_ds=irosva-es_op=adam_ep=20_bs=32_tp=0.8_10-22-2019-01-58-48/events.out.tfevents.1571727531.DESKTOP-F1EHI3N.12312.0
lstm-irosva/runs/nw=lstm_ds=irosva-cu_op=adam_ep=20_bs=32_tp=0.8_10-22-2019-02-00-51/events.out.tfevents.1571727651.DESKTOP-F1EHI3N.12312.1
dcgan-celeba/runs/nw=dcgan_ds=celeba_ld=100_op=adam_ep=32_bs=128_tp=1.0_09-25-2019-16-42-21/events.out.tfevents.1569429741.4f5193766db0.125.2
dcgan-celeba/runs/nw=dcgan_ds=celeba_ld=100_fl=128_op=adam_ep=16_bs=128_tp=1.0_09-26-2019-03-04-02/events.out.tfevents.1569467042.92bda5b37902.3621.1
lstm-wnut/.vector_cache/*
lstm-wnut/checkpoint/last*
yolito-pascal/VOC2007/*
yolito-pascal/runs/*
yolito-pascal/checkpoint/*
yolito-pascal/__pycache__/*
